<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647434261386-j4ok1i1p5aho1ppj955jeks1ilohv11p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647434261386-j4ok1i1p5aho1ppj955jeks1ilohv11p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>647434261386-nnqa70j336v3kg9igo3589s312hjv070.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAf1u398yci-bOqICkYpr9pJyPLrsxWiVw</string>
	<key>GCM_SENDER_ID</key>
	<string>647434261386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redtech.nlp-lyrics</string>
	<key>PROJECT_ID</key>
	<string>nlp-lyrics</string>
	<key>STORAGE_BUCKET</key>
	<string>nlp-lyrics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647434261386:ios:6f61dd5ddfe31b52a2ae73</string>
</dict>
</plist>